.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

@media(max-width: 767px) {
    .form {
        flex-direction: column;
    }
}

.form__input {
    max-width: 650px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

@media (max-width: 767px) {
    .form__input {
        margin-bottom: 10px;
    }
}

.form__button {
    color: white;
    background-color: teal;
    padding: 12px 10px;
    border: none;
    margin-left: 10px;
    transition: 0.5s;
}

.form__button:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 128, 0.76);
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .form__button {
        width: 100%;
        margin-left: 0;
    }
}