.section__button {
    background: none;
    border: none;
    color: teal;
    margin: 0 5px;
    transition: 0.5s;
}

.section__button:hover {
    color: rgb(12, 201, 201);
    cursor: pointer;
}

@media (max-width: 767px) {
    .section__button {
        padding: 5px;
    }
    .section__buttons {
        text-align: center;
    }
}

.section__button:disabled {
    color: #aaa;
    cursor: default;
}